# Core
DB_TYPE=mysql
RAGFLOW_SECRET_KEY=__REPLACE_WITH_32+_CHARS__
STORAGE_IMPL=AWS_S3
MAX_CONTENT_LENGTH=20971520

# MySQL (Railway MySQL service variables)
MYSQL_HOST=${{MySQL.MYSQLHOST}}
MYSQL_PORT=${{MySQL.MYSQLPORT}}
MYSQL_USER=${{MySQL.MYSQLUSER}}
MYSQL_PASSWORD=${{MySQL.MYSQLPASSWORD}}
MYSQL_DBNAME=${{MySQL.MYSQLDATABASE}}

# Redis (Railway Redis service variables)
REDIS_HOST=${{Redis.REDISHOST}}
REDIS_PORT=${{Redis.REDISPORT}}
REDIS_PASSWORD=${{Redis.REDISPASSWORD}}

# Railway Storage Bucket (S3-compatible)
S3_ACCESS_KEY=${{Bucket.ACCESS_KEY_ID}}
S3_SECRET_KEY=${{Bucket.SECRET_ACCESS_KEY}}
S3_ENDPOINT_URL=${{Bucket.ENDPOINT}}
S3_BUCKET=${{Bucket.BUCKET}}
S3_REGION=${{Bucket.REGION}}
S3_PREFIX_PATH=

# Elasticsearch
ES_HOST=__YOUR_ES_HOST__
ELASTIC_PASSWORD=__YOUR_ES_PASSWORD__
